<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<title>Student</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js">
	
</script>

</head>

<body>
	<div class="container">
		<div>
			<header th:insert="blocks/header :: header"></header>
		</div>

		<div class="p-3 mb-auto bg-light text-dark">

			<div class="container">
				<div th:if="${error}">
					<p class="text-danger">
						<span>Error:</span><span th:text="${error}"></span>
					</p>
				</div>

				<div th:if="${student.id}">
				
					<div th:if="${errorName}">
						<p class="text-danger">
							<span>Error : </span><span th:text=" ${errorName}"></span>
						</p>
					</div>

					<form th:action="@{/students/{id}(id=${student.id})}"
						th:object="${student}" method="post">

						<input hidden type="text" th:field="*{id}" />
						<input hidden type="text" th:field="*{password}" />

						<div>
						
							<div style="padding-left: 7px;">
								Name : 
								<input 	type="text"
										class="form-control" 
										name="name"
										th:field="*{name}"/>								
							</div>
							
							
							<div style="padding-left: 7px;">
														
								Login : 
								<input
				                      class="form-control"
				                      name="login"
				                      placeholder="Enter login"
				                      th:field="*{login}"
				                      type="text"/>
							</div>

							<div style="
								margin-top: 10px; 
								margin-bottom: 12px; 
								padding-left: 10px;">
								Choise group
							</div>
	
							<select style="
								inline-size: 20%;" 
								class="form-select "
								th:field="${student.group}">
	
								<option th:each="group : ${groups}" 
									th:value="${group.id}"
									th:text="${group.name}" 
									th:selected="${group.id}">
								</option>
								
								<option th:value="null"
										th:selected="null">
									Without group
								</option>
							
							</select> 													

						</div>

						<input style="margin-top: 10px;" class="btn btn-light"
							type="submit" value="Save" />
					</form>

				</div>

				<div th:unless="${student.id}">
				
					<div th:if="${errorName}">
						<p class="text-danger">
							<span>Error : </span><span th:text=" ${errorName}"></span>
						</p>
					</div>

					<form th:action="@{/students}" th:object="${student}" method="post">
						<input hidden type="text" th:field="*{id}" />

						<div>
						
							<div style="padding-left: 7px;">
								Name : 
								<input 	type="text"
										class="form-control" 
										placeholder="Enter name"
										id="name" 
										name="name" 
										th:field="*{name}"/>								
							</div>
							
							
							<div style="padding-left: 7px;">
														
								Login : 
								<input
				                      class="form-control"
				                      id="login"
				                      name="login"
				                      placeholder="Enter login"
				                      th:field="*{login}"
				                      type="text"/>
							</div>
	
  			
							<div style="padding-left: 7px;">
							
								Password : 
								<input
									class="form-control"
					                id="password"
					                name="password"
					                placeholder="Enter password"
					                th:field="*{password}"
					                type="text"/>
							</div>


							<div style="
								margin-top: 10px; 
								margin-bottom: 12px; 
								padding-left: 10px;">
							
								Choise group
							</div>
	
							<select style="
								inline-size: 20%;" 
								class="form-select "
								th:field="${student.group}">
	
								<option th:each="group : ${groups}" 
									th:value="${group.id}"
									th:text="${group.name}" 
									th:selected="${group.id}">
								</option>
								
								<option th:value="null"
										th:selected="null">
									Without group
								</option>
								
									
							</select> 
							
							<input style="margin-top: 10px;" 
								class="btn btn-light"									
								type="submit" value="Save"/>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>