
<div th:fragment="search">


	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle"
			data-bs-toggle="dropdown" aria-expanded="false">Search</button>
		<ul class="dropdown-menu dropdown-menu-end">
			<li>
				<button class="dropdown-item" type="button">

					<a class="dropdown-item" href="/search/lesson/by_group_name">
						Search lessons by Group name </a>
				</button>
			</li>

			<li>
				<button class="dropdown-item" type="button">

					<a class="dropdown-item" href="/search/lesson/by_date">
						Search lessons by lesson date </a>
				</button>
			</li>

			<li>
				<button class="dropdown-item" type="button">

					<a class="dropdown-item"
						href="/search/lesson/by_date_and_groupRef"> Search
						lessons by date and Group name </a>
				</button>
			</li>
		</ul>
	</div>


</div>